[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
deepl = "*"
emoji = "*"
pytelegrambotapi = "*"
python-dotenv = "*"
requests = "*"
urllib3 = "*"
lingua-language-detector = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.11"
